.mainpanel_color {
  border: thick solid rgb(0,193,100);
  background-color: rgb(70, 100, 90);
}

.nav_color{
  border-bottom: thick solid rgb(0,193,100);
}
.item_menu_g{
  background-color: rgb(0,193,100);
}
footer{
	border-top: thick solid rgb(0,193,100);
}
