@font-face {
  font-family: MKX;
  src: url(fonts/mkx.ttf);
}
@font-face {
  font-family: harabara;
  src :url(fonts/Harabara.ttf);
}
@font-face {
  font-family: o24d;
  src :url(fonts/o24d.ttf);
}
@font-face {
  font-family: bebas;
  src :url(fonts/bebas.otf);
}
.bg-color-black{
  background-color: black;
}
header {
  background-color: black;
  color: white;
  padding: 2.5%;
  padding-top: 2.5%;
  padding-bottom: 5%;
  font-family: bebas;
  z-index: 100;
  font-size: 275%;
  text-align: center;
  margin: -10px -10px 2% -10px;
}
header p{
  margin: 0;
  border: 0;
}
footer{
  background-color: black;
  color: white;
  padding: 2.5%;
  padding-top: 2.5%;
  padding-bottom: 5%;
  font-family: bebas;
  z-index: 100;
  margin: 2% -10px -10px -10px;
}
footer p{
  margin: 0;
  border: 0;
  font-size: 150%;
}
footer a{
  color: white;
}
a:link {
  text-decoration: none;
}

div , div p  {
  transition: 0.65s;
  -webkit-transition: 0.65s;
}
h1 {
  text-align: center;
  font-size: 275%;
  font-weight: lighter;
  font-family: bebas;
  color: white;
}
.titulo{
  font-weight: lighter;
  font-family: o24d;
  color: white;
}

/*________________________________________________________________*/
/*________________________________________________________________*/
body {
  background-size: 100% 100%;
  background-attachment: fixed;
  background-color: black;
  overflow-x: hidden;
}
.mainpanel {
  padding-left: 2%;
  padding-right: 2%;
  margin-left: 7.5%;
  padding-bottom: 2.5%;
  border-radius: 20px;
}
.item_menu{
  padding-top: 1%;
  padding-bottom: 1%;
  font-family: bebas;
  align-content: center;
  color: white;
  background-color: black;
}
.col-xs-12{
  padding-right:0px;
}
@media screen and (max-width: 960px ) {
  body {
    padding-top: 16%;
    overflow-x: hidden;
  }
  .item_menu{
    border: thick solid black;
  }
  .foto-offset{
    margin-left:13.75%;
  }
  .item_menu_hide_overflow{
    padding: 4% 6% 4% 10%;
    border-left: none;
    border-right: none;
  }
  .mainpanel {
    margin-left: 5.8%;
    margin-right: -4%;
  }
}
@media screen and (min-width: 960px ) {
  .foto-offset{
    margin-left:38%;
  }
  .mainpanel {
    margin-left: 7.5%;
  }
  .item_menu_hide_overflow{
    padding: 1% 4% 1% 4%;
    border-left: none;
    border-right: none;
  }
  .foto:hover {
    transform: rotate(360deg);
    border-color: black;
    background-size: 85% 85%;
    background-repeat: no-repeat;
    background-position:center;
    background-image: url(img/fav_inv.png);
    border-radius: 0;
    overflow: visible;
  }
}
.foto {
  background-image: url(img/a.jpg);
  padding: 75%;
  background-size: 100% 100%;
  border-radius: 100%;
  margin-bottom: 0.75%;
}

.data p{
  color: white;
}

.legenda p{
  color: white;
  text-align: justify;
  font-size: 175%;
  font-family: bebas;
  z-index: -99;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  margin: auto;
}
