@font-face {
  font-family: MKX;
  src: url(fonts/mkx.ttf);
}
@font-face {
  font-family: harabara;
  src :url(fonts/Harabara.ttf);
}
@font-face {
  font-family: o24d;
  src :url(fonts/o24d.ttf);
}
@font-face {
  font-family: geo;
  src :url(fonts/geo.ttf);
}
@font-face {
  font-family: bebas;
  src :url(fonts/bebas.otf);
}
/*________________________________________________________________*/
/*________________________________________________________________*/

a:link {
  text-decoration: none;
}

div , div p  {
  transition: 0.65s;
  -webkit-transition: 0.65s;
}
p,h1,h2,h3,h4,h5,a{
  color: white;
}
/*________________________________________________________________*/
/*________________________________________________________________*/

.bg-color-black{
  background-color: black;
}
header {
  background-color: black;
  padding: 2.5%;
  padding-top: 2.5%;
  padding-bottom: 5%;
  font-family: bebas;
  z-index: 100;
  font-size: 275%;
  text-align: center;
}
header p{
  margin: 0;
  border: 0;
}

body {
  background-size: 100% 100%;
  background-attachment: fixed;
  background-color: black;
  max-width: 100%;
  overflow-x: hidden;
}

footer{
  background-color: black;
  padding: 2.5%;
  padding-top: 2.5%;
  padding-bottom: 5%;
  font-family: bebas;
  z-index: 100;
}
footer p{
  margin: 0;
  border: 0;
  font-size: 150%;
}

/*________________________________________________________________*/
/*________________________________________________________________*/


.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  margin: auto;
}
/*________________________________________________________________*/
/*________________________________________________________________*/

.divider {
  font-family: bebas;
  text-align: center;
}
.mainpanel {
  padding-left: 2%;
  padding-right: 2%;
  margin-left: 3.75%;
  padding-bottom: 2.5%;
  border-radius: 20px;
}
.item-menu{
  padding-top: 1%;
  padding-bottom: 1%;
  font-family: bebas;
  align-content: center;
  background-color: black;
}
.foto {
  background-image: url(https://www.gravatar.com/avatar/2581c0a85292dcf90799a7319c9c5e5d?s=400.jpg);
  width: 10%;
  height: 10%;
  padding: 25%;
  margin-left: 25%;
  background-size: 100% 100%;
  border-radius: 100%;
  margin-bottom: 1.5%;

}
.foto-offset{
  align-content: center;
}
.foto:hover {
  transform: rotate(360deg);
  border-color: black;
  background-size: 85% 85%;
  background-repeat: no-repeat;
  background-position:center;
  background-image: url(img/fav_inv.png);
  border-radius: 0;
  overflow: visible;
}
.legenda p{
  text-align: justify;
  font-size: 145%;
  font-family: geo;
}
.hide-overflow{
  padding: 1% 4% 1% 4%;
  border-left: none;
  border-right: none;
}

/*________________________________________________________________*//*________________________________________________________________*/
/*________________________________________________________________*//*________________________________________________________________*/

@media screen and (max-width: 560px ) {
  body {
    padding-top: 16%;
  }
  .mainpanel {
    margin-left: 0;
  }

  .carousel-inner > .item {
    min-height: 300px;
    max-height: 300px;
    align-items: center;
  }

  .item-menu{
    border: thick solid black;
  }
  .foto {
    padding: 35%;
    margin-left: 15%;
  }
  .hide-overflow{
    padding: 8% 6% 5% 6%;
    border-left: none;
    border-right: none;
  }
}
@media screen and (min-width: 960px ) and (max-width: 1200px) {
  .foto {
    padding: 12%;
    margin-left: 38%;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {

  .foto {
    padding: 10%;
    margin-left: 40%;
    margin-top: 2%;
  }
  .carousel-inner > .item {
    min-height: 500px;
  }
}
@media screen and (min-width: 1600px ) {
  .foto {
    padding: 6%;
    margin-left: 43%;
  }
  .carousel-inner > .item {
    min-height: 500px;
  }
  .legenda p{

    font-size: 185%;

  }
}
.row{
  margin-left: 0;
  margin-right: 0;
}
