@font-face {
  font-family: MKX;
  src: url(fonts/mkx.ttf);
}
@font-face {
  font-family: harabara;
  src :url(fonts/Harabara.ttf);
}
@font-face {
  font-family: o24d;
  src :url(fonts/o24d.ttf);
}
@font-face {
  font-family: bebas;
  src :url(fonts/bebas.otf);
}

header {
  background-color: black;
  color: white;
  padding: 2.5%;
  padding-top: 2.5%;
  padding-bottom: 5%;
  font-family: bebas;
  z-index: 100;
  font-size: 275%;
  text-align: center;
  margin: -10px -10px 2% -10px;
}
header p{
  margin: 0;
  border: 0;
}
footer{
  background-color: black;
  color: white;
  padding: 2.5%;
  padding-top: 2.5%;
  padding-bottom: 5%;
  font-family: bebas;
  z-index: 100;
  margin: 2% -10px -10px -10px;
}
footer p{
  margin: 0;
  border: 0;
  font-size: 150%;
}
footer a{
  color: white;
}
a:link {
  text-decoration: none;
}

div , div p  {
  transition: 0.65s;
  -webkit-transition: 0.65s;
}
h1 {
  text-align: center;
  font-size: 275%;
  font-weight: lighter;
  font-family: bebas;
  color: white;
}
.titulo{
  font-weight: lighter;
  font-family: o24d;
  color: white;
}

/*________________________________________________________________*/
/*________________________________________________________________*/
body {
  background-image: url(b.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
  background-color: black;
}
.mainpanel {
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 2.5%;
  border-radius: 20px;
}
.item_menu{
  padding-top: 1%;
  padding-bottom: 1%;
  font-family: bebas;
  align-content: center;
  color: white;
  background-color: black;
}
@media screen and (max-width: 960px ) {
  body {
    padding-top: 46%;
  }
  .foto {
    padding-top: 33%;
    padding-bottom: 33%;
    margin-left: 15%;
    margin-right: 15%;
  }
}
@media screen and (min-width: 960px ) {
  .foto {
    padding: 75%;
    background-size: 100% 100%;

  }

  .foto:hover {
    transform: rotate(360deg);
    border-color: black;
    background-size: 85% 85%;
    background-repeat: no-repeat;
    background-position:center;
    background-image: url(img/fav_inv.png);
    border-radius: 0;
    overflow: visible;
  }
  .cheio{
    bottom: 50%;
    overflow: hidden;
  }
}
.foto {
  background-image: url(img/a.jpg);
  border-radius: 100%;
  margin-bottom: 0.75%;
}

.data p{
  color: white;
}

.legenda p{
  color: white;
  margin: 1%;
  text-align: justify;
  font-size: 175%;
  font-family: bebas;
  z-index: -99;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    margin: auto;
}
