
header {
  background-color: black;
  border-bottom: thick solid rgb(227,27,27);
  color: white;
}

h1 {
color: white;
}

body {
    	background-color: black;
}
.mainpanel {

	border: thick solid rgb(227,27,27);
  background-color: rgb(119, 0,0);
}

.item_menu{
  color: white;
}

.foto {
  border: thick solid rgb(227,27,27);
}

.legenda p{
  color: white;

}
.data p{
  color: white;

}
.legenda:hover {
  background-color: rgba(245, 65, 65,0.75);
}
