
header {
  background-color: black;
  border-bottom: thick solid rgb(0,127,255);
  color: white;
}

h1 {
color: white;
}

body {
    	background-color: black;
}
.mainpanel {

	border: thick solid rgb(0,127,255);
  background-color: rgb(20, 75, 125);
}

.item_menu{
  color: white;
}

.foto {
  border: thick solid rgb(0,127,255);
}

.legenda p{
  color: white;

}
.data p{
  color: white;

}
.legenda:hover {
  background-color: rgba(114, 158, 201,0.75);
}
