<head>
  <link rel="stylesheet" type="text/css" href="css/colors_b.css"/>
</head>


<div class="row">
  <div class="col-md-12">
    <div class="foto"></div>
  </div>
</div>
<div class="row"><div class="col-md-12item-menu"><p></p></div></div>
<div class="row">
  <div class="col-md-11 mainpanel_color mainpanel hide-overflow">
    <div class="legenda">
      <p>
        Um amante de conhecimentos, fotografia, design e mais uma lista extensa de outras coisas,
        em resumo, sou um explorador do universo, em uma busca constante de saber de tudo um pouco.
      </p>
      <p>
        Nesse site você encontrará: uma lista objetiva dos programas com que já estou familiarizado
        e galerias de coisas aleatórias que eu faço e deixo aqui de mostrar para quem acessar o site.
      </p>
    </div>
  </div>
</div>
<div class="row"><div class="col-md-12 col-xs-10 item-menu"><p></p></div></div>
