<head>
  <link rel="stylesheet" type="text/css" href="css/colors_b.css"/>
</head>


<div class="row">
  <div class="col-md-2 col-xs-6 foto-offset">
    <div class="foto"></div>
  </div>
</div>
<div class="row"><div class="col-md-12 col-xs-10 item_menu"><p></p></div></div>
<div class="row">
  <div class="col-md-12 col-xs-12  mainpanel_color item_menu_hide_overflow">
    <div class="legenda">
      <p>
        Um amante de conhecimentos, fotografia, design e mais uma lista extensa de outras coisas,
        em resumo, sou um explorador do universo, em uma busca constante de saber de tudo um pouco.
      </p>
      <p>
        Nesse site você encontrará: uma lista objetiva dos programas e linguagens a que estou
        acostumado na seção de habilidades e na sessão projetos, mantenho galerias de coisas que eu
        fiz e gostaria de mostrar, sejam elas fotos, estampas de camisas e até programas.
      </p>
    </div>
  </div>
</div>
<div class="row"><div class="col-md-12 col-xs-10 item_menu"><p></p></div></div>
