<head>
  <link rel="stylesheet" type="text/css" href="css/colors_g.css"/>
</head>

<div class="row">
  <div class="col-md-10 col-md-offset-1 col-xs-11 mainpanel_color mainpanel">
    <h1>HABILIDADES</h1>
    <table class="table legenda">
      <tbody>
        <tr>
          <td><p> Programação</p></td>
          <td><p>C, JAVA</p></td>
        </tr>
        <tr>
          <td><p> Web </p></td>
          <td><p>  HTML5, CSS3, JavaScript, PHP </p></td>
        </tr>
        <tr>
          <td><p>Softwares</p></td>
          <td><p>Photoshop, Ilustrator, InDesign, Dreamweaver, After Effects, Sony Vegas</p></td>
        </tr>
        <tr>
          <td><p>Sistemas operacionais:</p></td>
          <td><p>
            <i class="fa fa-linux" aria-hidden="true"></i>
            <i class="fa fa-apple" aria-hidden="true"></i>
            <i class="fa fa-windows" aria-hidden="true"></i></p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
